.loader-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.heading {
  color: #00e7ff;
}
.crypto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
ul {
  list-style-type: none;
}
.crypto-table {
  display: flex;
  flex-direction: column;
  border: 2px solid #00e7ff;
  width: 80%;
}
.table-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #092e33;
  color: #ffffff;
}
.coin-type-container {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  width: 15%;
  justify-content: space-around;
}
.value-container {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-around;
}
