.logo {
  width: 40px;
  height: 40px;
  margin-right: 8%;
}

.li-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currency-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
}
.currency-value-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
}
