.logo {
  width: 50px;
  height: 50px;
}
.li-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.currency-logo-container {
  display: flex;
  flex-direction: row;
}
.currency-value-container {
  display: flex;
  flex-direction: row;
}
